.cake-page__contetnt{
    display: flex;
}

.cake-page__left {
    width: 70%;
}

.cake-page__right {
    width: 30%;
}

.cake-page__buy-game {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.secondary-text{
    margin: 6px;
}